<app-modal [isOpen]="isOpen" (close)="onClose()">
  <div class="p-6">
    <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4">
      {{ isEditMode ? 'Modifier le produit' : 'Nouvelle produit' }}
    </h2>
    
    <div class="space-y-4">
      <div>
        <app-label [for]="'nomProduit'">Nom du produit</app-label>
        <app-input-field
          [id]="'nomProduit'"
          [name]="'nomProduit'"
          [type]="'text'"
          [value]="produitForm.nomProduit"
          (valueChange)="produitForm.nomProduit = $event"
          [placeholder]="'Ex: iPhone 15'"
        />
      </div>

    </div>

    <div class="space-y-4">
      <div>
        <app-label [for]="'prix'">Prix</app-label>
        <app-input-field
          [id]="'prix'"
          [name]="'prix'"
          [type]="'number'"
          [value]="produitForm.prix"
          (valueChange)="produitForm.prix = $event"
          [placeholder]="'Ex: 999'"
        />
      </div>

    </div>

    @if (!isEditMode) {
    <div class="space-y-4">
      <div>
        <app-label [for]="'nombre'">Nombre</app-label>
        <app-input-field
          [id]="'nombre'"
          [name]="'nombre'"
          [type]="'number'"
          [value]="produitForm.nombre"
          (valueChange)="produitForm.nombre = $event"
          [placeholder]="'Ex: 10'"
        />
      </div>
    </div>
    }

    <div class="space-y-4">
      <div>
        <app-label [for]="'categorie'">Catégorie</app-label>
        <select
          id="categorie"
          name="categorie"
          [(ngModel)]="produitForm.categorie"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:text-white">
          <option value="">Sélectionnez une catégorie</option>
          @for (cat of categories; track cat._id) {
            <option [value]="cat._id">{{ cat.categorie }}</option>
          }
        </select>
      </div>
    </div>

    <div class="space-y-4">
      <div>
        <app-label [for]="'image'">Image du produit</app-label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:text-white"
        />
        @if (selectedFileName) {
          <p class="mt-1 text-sm text-gray-500">Fichier sélectionné: {{ selectedFileName }}</p>
        }
      </div>
    </div>

    <div class="flex justify-end gap-3 mt-6 ">
      <button class="px-3 py-1 text-sm text-white bg-red-500 rounded hover:bg-red-600" variant="outline" (click)="onClose()">
        Annuler
      </button>
      <button class="px-3 py-1 text-sm text-white bg-green-500 rounded hover:bg-green-600" (click)="onSave()">
        {{ isEditMode ? 'Modifier' : 'Ajouter' }}
      </button>
    </div>
  </div>
</app-modal>
