<div class="p-6">
  <h1 class="mb-6 text-2xl font-semibold text-gray-800 dark:text-white/90">Liste des Boutiques</h1>
  
  <div class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-white/[0.05] dark:bg-white/[0.03]">
    <div class="max-w-full overflow-x-auto">
      <table class="min-w-full">
        <thead class="border-b border-gray-100 dark:border-white/[0.05]">
          <tr>
            <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Boutique</th>
            <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Mail</th>
            <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Contact</th>
            <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Date</th>
            <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
          @for (boutique of boutiques; track boutique._id) {
          <tr>
            <td class="px-5 py-4 text-gray-500 text-theme-sm dark:text-gray-400">{{ boutique.nom }}</td>
            <td class="px-5 py-4 text-gray-500 text-theme-sm dark:text-gray-400">{{ boutique.mail }}</td>
            <td class="px-5 py-4 text-gray-500 text-theme-sm dark:text-gray-400">{{ boutique.contact }}</td>
            <td class="px-5 py-4 text-gray-500 text-theme-sm dark:text-gray-400">{{ boutique.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td class="px-5 py-4 text-gray-500 text-theme-sm dark:text-gray-400">
              <span [ngClass]="getEtatClass(boutique.etat)">{{ getEtatString(boutique.etat) }}</span>
            </td>
            <td class="px-5 py-4">
              @if (boutique.etat === ETAT_BOUTIQUE.A_VALIDER) {
              <div class="flex gap-2">
                <button (click)="validerBoutique(boutique._id)" class="px-3 py-1 text-sm text-white bg-green-500 rounded hover:bg-green-600">Valider</button>
                <button class="px-3 py-1 text-sm text-white bg-red-500 rounded hover:bg-red-600">Annuler</button>
              </div>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
